.onlineFriendStuff {
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
}

.chatContainer {
  position: relative;
  margin-right: 10px;
}

.chatImage {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
}

.chatOnlineBadge {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: 2px;
  right: 2px;
}

@media screen and (max-width: 768px) {
  .chatOnlineName {
    display: none;
  }
}